{% extends 'base.html' %}



{% block content %}
    <div class="container">
        <h1 class="list_header">{{ id }} Event detail page</h1>
        <div>
            <ul>Description: {{ context.description }}</ul>
            <ul>Autor:{{ context.user.first_name }} {{ context.user.last_name }}</ul>
            <ul>Started: {{ context.begin_at }}</ul>
            <ul>Deadline: {{ context.end_at }}</ul>
            <ul>Maximum users: {{ context.max_users }}</ul>
            <ul>Active: {{ context.is_active }}</ul>

            <ul>
                <a href="{{ url_for('event.get_users_by_event_id', id = id) }}">
                    List of event users
                </a>
            </ul>
        </div>
        {% if context.is_active == True
        and context.end_at >= now_date
        and session['user_id'] not in users_list
        and context.max_users > users_list|length %}
            <form action="{{ url_for('event.bind_user_by_event_id', id = id) }}" method="POST">
                <input type="hidden" name="id" value="{{ id }}">
                <button class="join-button" type="submit">Join</button>
            </form>


        {% endif %}
    </div>
{% endblock %}